<% if @error %>
    Volume ID not Found
<%else%>
    <h1><%= @volume_title%></h1>
    <h2><%= @volume_subtitle%></h2>
    <h3><% @volume_authors.each do |a|%>
            <%= a %> | 
        <%end%> 
    </h3>
    <span><%= @volume_publisher%>

    <p><%= @volume_description%><p>
<%end%>

    



<%# # http://localhost:3000/volumes?volume_Id=zyTCAlFPjgYC %>
